
@*@{
    ViewBag.Title = "TestPrices";
    Layout = "~/Views/Shared/_LayoutMasterClient.cshtml";
}

<h2>Test Prices</h2>*@




@{
    ViewBag.Title = "TestPrices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.11.3.min.js"></script>

@model NLT.Models.SchemeModel

@using (Html.BeginForm("TestPrices", "Master", FormMethod.Post))
{

    <div class="container">
        <br />
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b> Test Pricess </b>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                
                                <table class="table table-responsive" border="0" style="width:100%">

                                    <tr style="border-top:0px;">
                                        <td style="text-align:center">
                                            Company
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(m => m.CompanyId, Model.Companys, new { Id = "ddlCompany", @style = "width:70%;", @class = "ddlCompany form-control" })

                                        </td>
                                        <td style="text-align:center">
                                            Branch
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(m => m.BranchId, Model.Branches, new { Id = "ddlBranch", @style = "width:100%;", @class = "ddlBranch form-control" })

                                        </td>
                                        <td style="text-align:center">
                                            Department
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(m => m.DepartmentId, Model.Departments, new { Id = "ddlDepartment", @style = "width:100%;", @class = "ddlDepartment form-control" })
                                        </td>
                                        <td>
                                            <input type="submit" value="Go" name="btnpost" class="btn-success form-control" style="width:100px;" onclick="return validateGoButton()" />

                                        </td>

                                    </tr>


                                </table>
                                <table width="100%" align="right">
                                    <tr>
                                        <td align="right">
                                            @*<input id="btnSave" type="button" value="Save" class="btn-success form-control" style="width:100px;" />*@

                                            <input id="btnSave" type="button" value="Save" name="btnpost" class="btn-success form-control" style="width:100px;" onclick="return validateGoButton()" />

                                        </td>
                                    </tr>
                                </table>

                                <table class="table table-responsive">
                                    <tr>
                                        <td height="300px" style="background-color:#faf2e3">

                                            <table id="tblTestPrice" class="table table-responsive tblTestPrice">

                                                <tr class="class1">
                                                    <td style="display:none;">TestPrice Id</td>
                                                    <td style="display:none;">Test Id</td>
                                                    <td>Test Name</td>
                                                    <td>MRP</td>
                                                    <td>Agrigate Rate</td>
                                                    <td>Discount Type</td>
                                                    <td>Discount Price</td>
                                                    <td>Total</td>
                                                    <td></td>
                                                </tr>
                                                @if (Model.TestPrices != null)
                                                {
                                                    foreach (var K in Model.TestPrices)
                                                    {
                                                        <tr class="tdr" data-id=@K.TestId>
                                                            <td style="display:none;">
                                                                <input name="@K.TestId" type="text" id="txtTestPriceId" value=@K.Id readonly class="txtWidth" />
                                                            </td>
                                                            <td style="display:none;">
                                                                @*@Html.TextBoxFor(Model => M.TestId, null, new { Id = "txtTestId", @class = "txtWidth  form-control", @readonly = "readonly", @name = @M.TestId, @style = "width:70%;" })*@

                                                                <input name="@K.TestId" type="text" id="txtTestId" value=@K.TestId readonly class="txtWidth" />
                                                            </td>
                                                            <td><input name="@K.TestId" type="text" id="txtTestName" value=@K.TestName readonly /> </td>
                                                            <td><input name="@K.TestId" type="text" id="txtMRP" value=@K.MRP onchange="calulate_Form_Discount(this)" class="CNum dinayPate txtWidth" maxlength="10"> </td>
                                                            <td><input name="@K.TestId" type="text" id="txtAgrigateRate" value=@K.AgrigateRate class="CNum dinayPate txtWidth" maxlength="10" /> </td>
                                                            <td>
                                                                @*@Html.DropDownListFor(m => K.CustomerDiscountType, K.DiscountTypes, new { Id = "ddldiscountType", Name = @K.TestId, @style = "width:100%;", @class = "ddldiscountType form-control", @onchange = "calulate_Form_Discount(this)" })*@
                                                                @*@Html.DropDownListFor(M => K.CustomerDiscountType, K.DiscountTypes, new { Id = "ddlBranch", @style = "width:100%;", @class = "ddlBranch form-control" })*@
                                                                @Html.DropDownListFor(x => K.CustomerDiscountType, new SelectList(K.DiscountTypes, "Value", "Text", K.CustomerDiscountType), htmlAttributes: new { Id = "ddldiscountType", Name = @K.TestId, @style = "width:105%;", @class = "ddldiscountType form-control", @onchange = "calulate_Form_Discount(this)" })




                                                            </td>
                                                            <td><input name="@K.TestId" type="text" id="txtDiscountPrice" value=@K.CustomerDiscountPrice onchange="calulate_Form_Discount(this)" class="CNum dinayPate txtWidth" maxlength="10" /> </td>
                                                            <td><input name="@K.TestId" type="text" id="txtTotal" value=@K.Total class="txtTotal CNum dinayPate txtWidth" readonly /> </td>


                                                            <td>@*<a class="btnget" id="btnget" data-index=@M.TestId name="tab" href="#">Edit</a>*@</td>
                                                        </tr>

                                                    }
                                                }



                                            </table>

                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>





    <style>
        .class1 {
            background-color: #e4f8fa;
        }

        .txtWidth {
            width: 70%;
        }
    </style>

    <script>
        $('.CNum').keyup(function () {
            debugger;
            var val = $(this).val();
            if (isNaN(val)) {
                val = val.replace(/[^0-9\.]/g, '');
                if (val.split('.').length > 2)
                    val = val.replace(/\.+$/, "");
            }
            $(this).val(val);
        });


        $('.dinayPate').bind("cut copy paste", function (e) {
            e.preventDefault();
        });


    </script>

    <script type="text/javascript">


        function calulate_Form_Discount(textbox) {
            //alert("Value is " + textbox.value + "\n" + "Old Value is " + textbox.oldvalue);
            debugger;
            var a = textbox.getAttribute("name");

            $(".tdr").each(function (i) {

                debugger;
                var $fieldset = $(this);
                if ($fieldset[0].attributes["data-id"].value == a) {

                    var discountType = $(this).find('select.ddldiscountType').val();

                    var MRP = $('input:text:eq(3)', $fieldset).val();
                    var DiscountAmount = $('input:text:eq(5)', $fieldset).val();

                    if (discountType == 1)
                    {
                        // Amount

                        $('input:text:eq(6)', $fieldset).val(MRP - DiscountAmount);

                    }
                    else if (discountType == 2)
                    {
                        // Percent %
                        var DiscountCalcuation = MRP * (DiscountAmount / 100);

                        $('input:text:eq(6)', $fieldset).val(MRP - DiscountCalcuation);


                    }

                }

            });

        }

        function validateGoButton()
        {
            var ErrorString = "";

            if ($(".ddlCompany :selected").val() == "0") {
                ErrorString = ErrorString + " Please select Company \n";
            }
            if ($(".ddlBranch :selected").val() == "0") {
                ErrorString = ErrorString + " Please select Branch \n";
            }
            if ($(".ddlDepartment :selected").val() == "0") {
                ErrorString = ErrorString + " Please select Department \n";
            }

            if (ErrorString != "") {
                alert(ErrorString);
                return false;
            }
            else {

                return true;
            }

        }

    </script>

    <script type="text/javascript">

        $(document).ready(function () {

            // Save

            $("#btnSave").click(function () {

                //alert("sssssssssssssssssss");

                // var ValidatinResult = validateForSaveButon();
               // validateGoButton();
   
                var SchemeModel_ = {};

                var TestPriceModel = [];

                //SchemeModel_.SchemeId = 0;
                //SchemeModel_.CompanyId = 0;
                //SchemeModel_.BranchId = 0;
                //SchemeModel_.DepartmentId = 0;

               // $(".tblTestPrice tr").find("name='tdr'").each(function (i) {
                $(".tdr").each(function (i) {

                    debugger;

                    var $fieldset = $(this);
                    var Tests = {};

                    var TestPriceId = "";
                    var TestId = "";
                    var TestName = "";
                    var MRP = "";
                    var AgrigateRate = "";
                    var CustomerDiscountType = "";
                    var DiscountPrice = "";
                    var Total = "";

                    debugger;


                    TestPriceId = TestPriceId + $('input:text:eq(0)', $fieldset).val();
                    TestId = TestId + $('input:text:eq(1)', $fieldset).val();
                    TestName = TestName + $('input:text:eq(2)', $fieldset).val();
                    MRP = MRP + $('input:text:eq(3)', $fieldset).val();

                    AgrigateRate = AgrigateRate + $('input:text:eq(4)', $fieldset).val();
                    CustomerDiscountType = $(this).find('select.ddldiscountType').val();

                    DiscountPrice = DiscountPrice + $('input:text:eq(5)', $fieldset).val();
                    Total = Total + $('input:text:eq(6)', $fieldset).val();

                    Tests.Id = TestPriceId;
                    Tests.TestId = TestId;
                    Tests.TestName = TestName;
                    Tests.MRP = MRP;
                    Tests.AgrigateRate = AgrigateRate;
                    Tests.CustomerDiscountType = CustomerDiscountType;
                    Tests.CustomerDiscountPrice = DiscountPrice;
                    Tests.Total = Total;

                    TestPriceModel.push(Tests);

                });

                debugger;


                var schemeDetailsModel = {};

                schemeDetailsModel.SchemeDetailsId = 0 ;
                schemeDetailsModel.SchemeId = parseInt($(".ddlScheme").val());
                schemeDetailsModel.SchemeName = "";
                schemeDetailsModel.CompanyId = parseInt($(".ddlCompany").val());;
                schemeDetailsModel.BranchId = parseInt($(".ddlBranch").val());;
                schemeDetailsModel.DepartmentId = parseInt($(".ddlDepartment").val());;
                schemeDetailsModel.TestPrices = TestPriceModel;

                $.ajax({
                    type: "POST",
                    url: "/Master/saveSchemeDetails",
                    // data: { CompanyId: parseInt(companyId) },
                    data: JSON.stringify(schemeDetailsModel),
                   // data: { SchemeDetailsModel: JSON.stringify(schemeDetailsModel) },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: successFunc,
                    error: errorFunc
                });

                function successFunc(res, status) {

                    if (res.StatusCode == 200) {
                         alert("Saved SucessFully ...............");

                         window.location.href = "/Master/TestPrices"; //data.redirecturl;

                    }
                    else if (res.StatusCode == 400) {

                        alert("Not Saved ...........");
                    }

                }

                function errorFunc() {
                    alert('error');
                }

            });

            $("a[name=tab]").on("click", function () {
                var a = $(this)[0].getAttribute("data-index");

                var TestId = "";
                var TestName = "";
                var MRP = "";
                var AgrigateRate = "";
                var DiscountPrice = "";
                var Total = "";


                $(".tblTestPrice tr").each(function (i) {

                    var $fieldset = $(this);

                    if ($fieldset[0].attributes[0].value == a)
                    {
                        TestId = TestId + $('input:text:eq(0)', $fieldset).val();
                        TestName = TestName + $('input:text:eq(1)', $fieldset).val();
                        MRP = MRP + $('input:text:eq(2)', $fieldset).val();

                        AgrigateRate = AgrigateRate + $('input:text:eq(3)', $fieldset).val();
                        DiscountPrice = DiscountPrice + $('input:text:eq(4)', $fieldset).val();
                        Total = Total + $('input:text:eq(5)', $fieldset).val();
                        // Total = Total + $('input:text:eq(2)', $fieldset).val();

                        $("#txtTestName_").val(TestName);
                        $("#txtMRP_").val(MRP);
                        $("#txtAgrigateRate_").val(AgrigateRate);
                        $("#txtDiscountPrice_").val(DiscountPrice);
                        $("#txtTotal_").val(Total);

                       /// alert("bbbbbbbbbb-----" + a);
                    }

                });


            });


        });


    </script>

    <script type="text/javascript">

        $(".ddlBranch").change(function () {

            var branchId = $("#ddlBranch :selected").val();

            if (branchId != "" || branchId != null) {

                if (branchId == "0") {
                    $(".ddlDepartment").empty();
                    var data1 = '<option value=0>-Select-</option>'
                    $(".ddlDepartment").append(data1);

                    $('table tr.tdr').remove();

                    return;
                }
                else {

                    $('table tr.tdr').remove();

                    $.ajax({
                        type: "GET",
                        url: "/Master/GetDipartmentsByBranchId",
                        data: { BranchId: parseInt(branchId) },
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: successFunc,
                        error: errorFunc
                    });

                    function successFunc(res, status) {

                        if (res.StatusCode == 200) {
                            // alert("Sucess Data...............");

                            $(".ddlDepartment").empty();
                            var data1 = '<option value=0>-Select-</option>'
                            $(".ddlDepartment").append(data1);

                            for (i = 0; i < res.Result.length; i++) {
                                var data = '<option value=' + res.Result[i].DepartmentId + '>' + res.Result[i].DepartmentName + '</option>'
                                $(".ddlDepartment").append(data);
                            }


                        }
                        else {

                        }


                    }

                    function errorFunc() {
                        alert('error');
                    }
                }
            }

        });


    </script>

    <script type="text/javascript">

        $(".ddlCompany").change(function () {

            var companyId = $(".ddlCompany :selected").val();

            if (companyId != "" || companyId != null) {

                if (companyId == "0") {
                    $(".ddlBranch").empty();
                    var data1 = '<option value=0>-Select-</option>'
                    $(".ddlBranch").append(data1);

                    $(".ddlDepartment").empty();
                    var data1 = '<option value=0>-Select-</option>'
                    $(".ddlDepartment").append(data1);

                    $('table tr.tdr').remove();

                    return;
                }
                else {

                    $('table tr.tdr').remove();

                    $.ajax({
                        type: "GET",
                        url: "/Master/GetBranchesByCompanyId",
                        data: { CompanyId: parseInt(companyId) },
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: successFunc,
                        error: errorFunc
                    });

                    function successFunc(res, status) {

                        if (res.StatusCode == 200) {
                            // alert("Sucess Data...............");

                            $(".ddlBranch").empty();
                            var data1 = '<option value=0>-Select-</option>'
                            $(".ddlBranch").append(data1);

                            for (i = 0; i < res.Result.length; i++) {
                                var data = '<option value=' + res.Result[i].BranchId + '>' + res.Result[i].BranchName + '</option>'
                                $(".ddlBranch").append(data);
                            }


                        }
                        else {

                        }


                    }

                    function errorFunc() {
                        alert('error');
                    }

                }

            }

        });


    </script>


}